In [1]:
import numpy as np
import pandas as pd
import json

In [2]:
locdem_xlsx  = pd.read_excel('./data/FBWMLocationsDemands.xlsx')

In [3]:
locdem_xlsx

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,Ref number,Name,Type,Address,City/Town,Zipcode,Number of pallets,Frequency (monthly except if noted)
1,1,Amherst Survival Center,Agency,138 Sunderland Road,Amherst,01002,2,NaN
2,2,"Palmer Food Share, Inc.",Agency,39 Walnut Street,Palmer,01069-1731,2,NaN
3,3,Franklin County Community Meals Program,Agency,118 East Main Street,Orange,01364,1,NaN
4,4,Freedom House of God,Agency,563 Union Street,Springfield,01139-0187,1,NaN
...,...,...,...,...,...,...,...,...
132,132,Riverland Farm,Pick-up,206 River Rd.,Sunderland,01375,1 to 2,NaN
133,133,Next Barn Over,Pick-up,15 Lawrence Plain Rd.,Hadley,01035,1 to 2,NaN
134,134,Warner Farm,Pick-up,23 South Main St.,Sunderland,01375,1 to 2,NaN
135,135,Kitchen Garden,Pick-up,131 South Silver Ln.,Sunderland,01375,1 to 2,NaN
136,136,Red Fire Farm,Pick-up,184 Meadow Rd.,Montague,01351,1 to 2,NaN

In [4]:
locdem_xlsx.columns = locdem_xlsx.loc[0]

In [5]:
locdem_xlsx = locdem_xlsx.drop(0)

In [6]:
locdem_xlsx = locdem_xlsx.loc[:124]

In [7]:
locdem_xlsx = locdem_xlsx.fillna(1)

In [8]:
locdem_xlsx

,Ref number,Name,Type,Address,City/Town,Zipcode,Number of pallets,Frequency (monthly except if noted)
1,1,Amherst Survival Center,Agency,138 Sunderland Road,Amherst,01002,2,1
2,2,"Palmer Food Share, Inc.",Agency,39 Walnut Street,Palmer,01069-1731,2,1
3,3,Franklin County Community Meals Program,Agency,118 East Main Street,Orange,01364,1,1
4,4,Freedom House of God,Agency,563 Union Street,Springfield,01139-0187,1,1
5,5,"Gray House, Inc.",Agency,22 Sheldon Street,Springfield,01107-1915,3,Weekly
...,...,...,...,...,...,...,...,...
120,120,Urban League,Mobile Food Bank,33 Oak St.,Springfield,01109,9,1
121,121,Westfield Mobile Food Bank,Mobile Food Bank,60 Broad St.,Westfield,01085,9,Twice a month
122,122,Our Lady of the Valley,Mobile Food Bank,33 Adams St.,Easthampton,01027,9,Twice a month
123,123,Grenville Park,Mobile Food Bank,73 Church St.,Ware,01082,9,1
124,124,The Boulders,Mobile Food Bank,156 Brittany Manor Dr.,Amherst,01002,9,1

In [9]:
locdem_xlsx = locdem_xlsx.replace(['weekly', 'Weekly', 'Twice a month'], [4,4,2])

In [10]:
q = locdem_xlsx['Frequency (monthly except if noted)'].to_numpy()

In [11]:
more_than_once = np.where(q > 1)[0] + 1
json.dump(more_than_once.tolist(), open('./cleanerdata/morethanonce.json', 'w'), indent=4)

In [12]:
del locdem_xlsx['Type'], locdem_xlsx['Address'], locdem_xlsx['City/Town']

In [13]:
locdem_xlsx

,Ref number,Name,Zipcode,Number of pallets,Frequency (monthly except if noted)
1,1,Amherst Survival Center,01002,2,1
2,2,"Palmer Food Share, Inc.",01069-1731,2,1
3,3,Franklin County Community Meals Program,01364,1,1
4,4,Freedom House of God,01139-0187,1,1
5,5,"Gray House, Inc.",01107-1915,3,4
...,...,...,...,...,...
120,120,Urban League,01109,9,1
121,121,Westfield Mobile Food Bank,01085,9,2
122,122,Our Lady of the Valley,01027,9,2
123,123,Grenville Park,01082,9,1
124,124,The Boulders,01002,9,1

In [26]:
locdem_xlsx.iloc[:, 3] = locdem_xlsx.iloc[:, 3].replace(to_replace='2 (one time) 1 (the other time)', value = 2)

/var/folders/rs/zxv2q15x62q41nmffct1_8t40000gn/T/ipykernel_45329/3341167038.py:1: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  locdem_xlsx.iloc[:, 3] = locdem_xlsx.iloc[:, 3].replace(to_replace='2 (one time) 1 (the other time)', value = 2)

In [35]:
q = locdem_xlsx['Frequency (monthly except if noted)'].to_numpy()
p = locdem_xlsx['Number of pallets'].to_numpy()

In [52]:
dmnd_more_than_once = {int(i):int(p[i-1]) for i in more_than_once}

In [53]:
dmnd_more_than_once[9] = 1
dmnd_more_than_once[12] = 1

In [55]:
json.dump(dmnd_more_than_once, open('./cleanerdata/morethanonce_w_demands', 'w'), indent=4)

In [56]:
locdem_xlsx.to_excel('./cleanerdata/locdem.xlsx', index=False, index_label=False)

In [63]:
locations = pd.read_json('./data/locations.json')[:125]
del locations['type'], locations['street1'], locations['city'], locations['zip'], locations['state']
locations.to_excel('./cleanerdata/locations.xlsx', index=False, index_label=False)

In [68]:
dist_mat = pd.read_json('./data/distances_matrix.json')
json.dump(dist_mat.to_numpy()[:125,:125].tolist(), open('./cleanerdata/distmat.json', 'w'), indent=4)

In [69]:
time_mat = pd.read_json('./data/travel_times_matrix.json')
json.dump(time_mat.to_numpy()[:125,:125].tolist(), open('./cleanerdata/timemat.json', 'w'), indent=4)

In [74]:
q = locdem_xlsx['Number of pallets'].to_numpy()

In [75]:
q = [0] + q.tolist()
json.dump(q, open('./cleanerdata/q.json', 'w'), indent=4)

In [93]:
mto = locdem_xlsx['Frequency (monthly except if noted)'][more_than_once].to_numpy() - 1
count = 125
actual_mto = {}
for i in range(len(mto)):
    for j in range(mto[i]):
        actual_mto[count] = {'map':int(more_than_once[i]), 'dem':int(p[mto[i] - 1])}
        count += 1
actual_mto[131]['dem'] = 1.0
actual_mto[132]['dem'] = 1.0
json.dump(actual_mto, open('./cleanerdata/repeats.json', 'w'), indent=4)