In [1]:
import numpy as np
import pandas as pd
import os

locations = pd.read_csv(os.path.abspath('./data/FBWMLocationsDemands.csv'))

In [2]:
locations.columns = locations.loc[0]

In [3]:
locations

,Ref number,Name,Type,Address,City/Town,Zipcode,Number of pallets,Frequency (monthly except if noted)
0,Ref number,Name,Type,Address,City/Town,Zipcode,Number of pallets,Frequency (monthly except if noted)
1,1,Amherst Survival Center,Agency,138 Sunderland Road,Amherst,01002,2,NaN
2,2,"Palmer Food Share, Inc.",Agency,39 Walnut Street,Palmer,01069-1731,2,NaN
3,3,Franklin County Community Meals Program,Agency,118 East Main Street,Orange,01364,1,NaN
4,4,Freedom House of God,Agency,563 Union Street,Springfield,01139-0187,1,NaN
...,...,...,...,...,...,...,...,...
132,132,Riverland Farm,Pick-up,206 River Rd.,Sunderland,01375,1 to 2,NaN
133,133,Next Barn Over,Pick-up,15 Lawrence Plain Rd.,Hadley,01035,1 to 2,NaN
134,134,Warner Farm,Pick-up,23 South Main St.,Sunderland,01375,1 to 2,NaN
135,135,Kitchen Garden,Pick-up,131 South Silver Ln.,Sunderland,01375,1 to 2,NaN
136,136,Red Fire Farm,Pick-up,184 Meadow Rd.,Montague,01351,1 to 2,NaN

In [4]:
locations = locations.drop(0)

In [5]:
locations = locations.fillna(1)

In [6]:
locations = locations.replace(['Weekly', 'Twice a month', 'weekly'], [4,2,4])

In [7]:
locations = locations.loc[:124]

In [8]:
locations.to_excel(os.path.abspath('./cleandata/locdem.xlsx'), index=False, index_label=False)

In [9]:
times = pd.read_json(os.path.abspath('./data/travel_times_matrix.json'))

In [12]:
times.loc[9]

0      2013
1      2391
2      1594
3      4075
4       220
       ...
132    2408
133    1818
134    2305
135    2432
136    3184
Name: 9, Length: 137, dtype: int64